<!DOCTYPE html>
<html>
<head>
    <title><%= course.name %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1><%= course.name %></h1>
<img src="<%= course.img %>" class="banner" />
<p><%= course.desc %></p>

<a class="btn" href="/register/<%= course.id %>">Register Now</a>
<br><br>
<a href="/">Go Back</a>

</body>
</html>
